#banner
  .banner_content
    %h1 NoteNote
    %p Your online Notebook. Never forget an idea again.
    %button= link_to "Sign Up", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "The Greatest Notebook Application."
    %p.name - Nikhil Rao

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Notes
        %p Pen and paper are meant for each other, and one without the other simply does not work. Adding a pocket notebook to your carry is very easy due to their dimensions, thinness, and flexibility in a pocket. Adding a memo book to your back pocket adds a ton of utility without much bulk.
      .callout
        %h2 Kimi
        %p Pen and paper are meant for each other, and one without the other simply does not work. Adding a pocket notebook to your carry is very easy due to their dimensions, thinness, and flexibility in a pocket. Adding a memo book to your back pocket adds a ton of utility without much bulk.
      .callout
        %h2 Maru
        %p Pen and paper are meant for each other, and one without the other simply does not work. Adding a pocket notebook to your carry is very easy due to their dimensions, thinness, and flexibility in a pocket. Adding a memo book to your back pocket adds a ton of utility without much bulk.

#bottom_Cta
  .wrapper
    %h2  For Real !!!
    %p Just Sign Up Bae... If You don't .. I will take back my revenge on Friday the 13th
    %button= link_to "Click me", new_user_registration_path

%footer
  %p &copy; Nikhil Rao Balaji


